* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Rubik", sans-serif;
}

$very-dark-grey: hsl(0, 0%, 17%);
$dark-grey: hsl(0, 0%, 59%);

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.map-component {
  flex-grow: 1;
}
